<section class="slice-lg has-bg-cover bg-size-cover">
    <div id="top" class="container">
        <div class="row justify-content-center cols-xs-space">
            <div class="col-lg-8">
                <div class="form-card form-card--style-2 z-depth-2-top">
                    <div class="form-header text-center">
                        
                            <%= image_tag asset_path("air-quality-logo/logo-1-a.svg"), height:"60px", alt:"Open Air" %>
                        
                    </div>
                    <div class="form-body">
                        
                            <div class="section-title section-title--style-2 text-center mb-2">
                            <h4 class="section-title-inner heading-2 strong-400">
                                <span>Créer un compte</span>
                            </h4>
                        </div>
                        
                        <div class="col-8">
                            <div class="form-group">
                                <%= f.label :Prénom %><br />
                                <div class="input-group input-group--style-1">
                                    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control form-control-lg", placeholder: "Prénom" %>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        <div class="col-8">
                            <div class="form-group">
                                <%= f.label :Nom %><br />
                                <div class="input-group input-group--style-1">
                                    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control form-control-lg", placeholder: "Nom" %>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="col-12">
                            <div class="form-group">
                                <%= f.label :Adresse %><br />
                                <div class="input-group input-group--style-1">
                                    <%= f.text_field :address, autofocus: true, autocomplete: "adress", class: "form-control form-control-lg", placeholder: "Adresse" %>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="col-12">
                            <div class="form-group">
                                <%= f.label :Email %><br />
                                <div class="input-group input-group--style-1">
                                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg", placeholder: "Email" %>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="col-12">
                            <div class="form-group">
                                <%= f.label :Mot_de_passe %>
                                <% if @minimum_password_length %>
                                <em>(<%= @minimum_password_length %> characters minimum)</em>
                                <% end %><br />
                                <div class="input-group input-group--style-1">
                                    <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-lg", placeholder: "Mot de passe" %>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <div class="form-group">
                                <%= f.label :confirmer_le_mot_de_passe %><br />
                                <div class="input-group input-group--style-1">
                                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-lg", placeholder: "Confirmer le mot de passe" %>
                                </div>
                            </div>
                        </div>
                        
                            <div class="col-12">
                                <%= render "devise/shared/links" %>
                            </div>
                                                                  
