<div class='card border-dark'>    
    <div class="card-body">
        <div class="row">
            <div class="col-9">
                <h4 class="card-title">
                    <%= dataset.title %>
                </h4>
            </div>
            <ul class="list-inline">
                <li><div class="col-1 text-right">
                    <span class="card-title badge badge-md badge-secondary text-right align-top">Base de données</span>
                </div></li>
								<% if user_signed_in? %>
									<li>
										<div class='card-icon-actions text-right col-2 align-top'>
												<% active_css = (@user_dataset_collection.include?(dataset) ? "active" : "") %>
												<%= link_to user_dataset_collection_path(current_user, :dataset => dataset), method: :post, class: "favorite #{active_css}", :rel => 'tooltip', "title" => "Ajouter à ma librairie", "data-placement" => "top" do %><i class="fa fa-star"></i><% end %>
										</div>
									</li>
								<% end %>
            </ul>    
        </div>
        <p class="card-text"> <%= dataset.description %> </p>
        <%= button_to "Source", dataset.db_link, class: "btn btn-styled btn-sm btn-green", form: {target: '_blank'}  %>
    </div>
    <% if (dataset.dpsir_category == "Driver" && dataset.rendered) %>
        <iframe class="w-100" height="700" src="<%= dataset.db_link %>" frameBorder="0"></iframe>
    <%end%>
</div>
<br>
