<div class="sidebar--sticky" data-stick-in-parent="true" id="scroll_data_target">
    
    <ul class="categories categories--style-3">
        <li>
            <p id="menu-title-topic-open-air" class="font-weight-bold">Menu</p>
        </li>
        <li>
            <a href="#driver_section" data-scroll-to="#driver_section" data-scroll-to-offset="20">
                <span class="category-name">
                    <%= @topic.driver_section_title %>
                </span>
            </a>
        </li>
        <li>
            <a href="#pressure_section" data-scroll-to="#pressure_section" data-scroll-to-offset="20">
                <span class="category-name">
                    <%= @topic.pressure_section_title %>
                </span>
            </a>
        </li>
        <li>
            <a href="#state_section" data-scroll-to="#state_section" data-scroll-to-offset="20">
                <span class="category-name">
                    <%= @topic.state_section_title %>
                </span>
            </a>
        </li>
        <li>
            <a href="#impact_section" data-scroll-to="#impact_section" data-scroll-to-offset="20">
                <span class="category-name">
                    <%= @topic.impact_section_title %>
                </span>
            </a>
        </li>
        <li>
            <a href="#response_section" data-scroll-to="#response_section" data-scroll-to-offset="20">
                <span class="category-name">
                    <%= @topic.response_section_title %>
                </span>
            </a>
        </li>
    </ul>
</div>