<!-- Card storie -->
    <section class="slice sct-color-1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6">
                    <h3 class="heading heading-6 strong-600 text-uppercase mb-0">Stories</h3>
                </div>
            </div>

            <span class="space-xs-lg"></span>

            <div class="row cols-md-space cols-sm-space cols-xs-space">
                <div class="col-lg-4">
                    <div class="card z-depth-2-top">
                        <div class="card-image">
                            <div class="view view-first">
                                <a href="#">
                                    <%= image_tag "prv/blog/img-tech-1.jpg" %>
                                </a>
                            </div>
                        </div>

                        <div class="card-body">
                            <h3 class="heading heading-5 strong-600 mb-0">
                                <a href="#">Learn how to build your own website with Boomerang</a>
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card z-depth-2-top">
                        <div class="card-image">
                            <div class="view view-first">
                                <a href="#">
                                    <%= image_tag "prv/blog/img-tech-2.jpg" %>
                                </a>
                            </div>
                        </div>

                        <div class="card-body">
                            <h3 class="heading heading-5 strong-600 mb-0">
                                <a href="#">15 Lessons about design you need to learn to succeed</a>
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card z-depth-2-top">
                        <div class="card-image">
                            <div class="view view-first">
                                <a href="#">
                                    <%= image_tag "prv/blog/img-tech-3.jpg" %>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3 class="heading heading-5 strong-600 mb-0">
                                <a href="#">Never changing design will eventually destroy you</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <span class="space-xs-lg"></span>

            <div class="row cols-md-space cols-sm-space cols-xs-space">
                <div class="col-lg-4">
                    <div class="card z-depth-2-top">
                        <div class="card-image">
                            <div class="view view-first">
                                <a href="#">
                                    <%= image_tag src="prv/blog/img-tech-4.jpg" %>
                                </a>
                            </div>
                        </div>

                        <div class="card-body">
                            <h3 class="heading heading-5 strong-600 mb-0">
                                <a href="#">Get better design results by following 3 simple steps</a>
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card z-depth-2-top">
                        <div class="card-image">
                            <div class="view view-first">
                                <a href="#">
                                    <%= image_tag "prv/blog/img-tech-5.jpg" %>
                                </a>
                            </div>
                        </div>

                        <div class="card-body">
                            <h3 class="heading heading-5 strong-600 mb-0">
                                <a href="#">3 ways you can reinvent design like a pro</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card z-depth-2-top">
                        <div class="card-image">
                            <div class="view view-first">
                                <a href="#">
                                    <%=image_tag "prv/blog/img-tech-6.jpg" %>
                                </a>
                            </div>
                        </div>

                        <div class="card-body">
                            <h3 class="heading heading-5 strong-600 mb-0">
                                <a href="#">15 Lessons about design you need to learn to succeed</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <span class="space-xs-xl"></span>
            <div class="pagination-wrapper">
                <nav aria-label="Pagination - Style 2">
                    <ul class="pagination pagination--style-2 justify-content-center">
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item active"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
