<section class="slice sct-color-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title section-title--style-2 text-center mb-4">
                    <h2 class="section-title-inner heading-2 strong-400">
                    <span>
                    <%=@topic.title%> </span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="block block-post">
                    <div class="block-image">
                        <%= image_tag @topic.main_picture, class: "rounded" %>
                    </div>
                    <div class="block-body block-post-body">
                        <p>
                            <%=@topic.short_description%>
                        </p>
                    </div>
                    <br><br>
                    <div id="driver_section" class="section-title section-title--style-1 text-center mb-4">
                        <h3 class="section-title-inner heading-3 strong-400">
                        <span>
                        <%=@topic.driver_section_title%> </span>
                        </h3>
                        <span class="section-title-delimiter clearfix"></span>
                    </div>
                    <div class="block-body block-post-body">
                        <p>
                        <% @topic.datasets.each do |dataset|%>
                            <%if dataset.dpsir_category == "Driver" %>
                            <% dataset.get_iframe_string(400, 700, dataset.db_link) %>
                            <%end%>
                            <%end%>
                        </p>
                    </div>
                    <br>
                    <div class="block-image">
                        <%= image_tag @topic.main_picture, class: "rounded" %>
                    </div>
                    <br><br>
                    <div id="pressure_section" class="section-title section-title--style-1 text-center mb-4">
                        <h3 class="section-title-inner heading-3 strong-400">
                        <span>
                        <%=@topic.pressure_section_title%> </span>
                        </h3>
                        <span class="section-title-delimiter clearfix"></span>
                    </div>
                    <div class="block-body block-post-body">
                        <p>
                            <%=@topic.pressure_section_intro%>
                        </p>
                    </div>
                    <br>
                    <div class="block-image">
                        <%= image_tag @topic.main_picture, class: "rounded" %>
                    </div>
                    <br><br>
                    <div id="state_section" class="section-title section-title--style-1 text-center mb-4">
                        <h3 class="section-title-inner heading-3 strong-400">
                        <span>
                        <%=@topic.state_section_title%> </span>
                        </h3>
                        <span class="section-title-delimiter clearfix"></span>
                    </div>
                    <div class="block-body block-post-body">
                        <p>
                            <%=@topic.state_section_intro%>
                        </p>
                    </div>
                    <br>
                    <div class="block-image">
                        <%= image_tag @topic.main_picture, class: "rounded" %>
                    </div>
                    <br><br>
                    <div id="impact_section" class="section-title section-title--style-1 text-center mb-4">
                        <h3 class="section-title-inner heading-3 strong-400">
                        <span>
                        <%=@topic.impact_section_title%> </span>
                        </h3>
                        <span class="section-title-delimiter clearfix"></span>
                    </div>
                    <div class="block-body block-post-body">
                        <p>
                            <%=@topic.impact_section_intro%>
                        </p>
                    </div>
                    <br>
                    <div class="block-image">
                        <%= image_tag @topic.main_picture, class: "rounded" %>
                    </div>
                    <br><br>
                    <div id="response_section" class="section-title section-title--style-1 text-center mb-4">
                        <h3 class="section-title-inner heading-3 strong-400">
                        <span>
                        <%=@topic.response_section_title%> </span>
                        </h3>
                        <span class="section-title-delimiter clearfix"></span>
                    </div>
                    <div class="block-body block-post-body">
                        <p>
                            <%=@topic.response_section_intro%>
                        </p>
                    </div>
                    <br>
                    <div class="block-image">
                        <%= image_tag @topic.main_picture, class: "rounded" %>
                    </div>
                    <br>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="sidebar--sticky" data-stick-in-parent="true" id="scroll_data_target">
                    <ul class="categories categories--style-3">
                        <li>
                            <a href="#driver_section" data-scroll-to="#driver_section" data-scroll-to-offset="20">
                                <span class="category-name">
                                    <%= @topic.driver_section_title %>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#pressure_section" data-scroll-to="#pressure_section" data-scroll-to-offset="20">
                                <span class="category-name">
                                    <%= @topic.pressure_section_title %>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#state_section" data-scroll-to="#state_section" data-scroll-to-offset="20">
                                <span class="category-name">
                                    <%= @topic.state_section_title %>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#impact_section" data-scroll-to="#impact_section" data-scroll-to-offset="20">
                                <span class="category-name">
                                    <%= @topic.impact_section_title %>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#response_section" data-scroll-to="#response_section" data-scroll-to-offset="20">
                                <span class="category-name">
                                    <%= @topic.response_section_title %>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<div class="col-6">
    <h3 class="heading heading-6 strong-600 text-uppercase mb-4">Autres articles</h3>
</div>
<div class="card-deck">
    <% @related_topics.each do |topic| %>
    <div class="col-lg-4 mb-5">
        <div class="card z-depth-2-top h-auto">
            <div class="card-image">
                <div class="view view-first">
                    <a href="/topics/<%=topic.id%>">
                        <%= image_tag topic.main_picture.variant(resize: "1000x760!") %>
                    </a>
                </div>
            </div>
            <div class="card-body h-25">
                <h3 class="heading heading-5 strong-600 mb-0">
                <a href="/topics/<%=topic.id%>">
                <%=topic.title%></a>
                </h3>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <div class="block-author">
                            <div class="author-info">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col text-right">
                    <ul class="inline-links inline-links--style-2">
                        <li>
                            Temps de lecture: <%= Random.rand(5..30) %> min
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>