<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<section class="slice-lg has-bg-cover bg-size-cover">
  <div id="top" class="container">
    <div class="row justify-content-center cols-xs-space">
      <div class="col-lg-4">
        <div class="form-card form-card--style-2 z-depth-2-top">
          <div class="form-header text-center">
            <div class="form-header-icon">
              <i class="icon ion-log-in"></i>
            </div>
          </div>
          <div class="form-body">
            <div class="text-center px-2">
              <h4 class="heading heading-4 strong-400 mb-4">Se connecter</h4>
            </div>
            <form class="form-default" role="form">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <%= f.label :email %><br />
                    <div class="input-group input-groupe--style-1">
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg" %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <%= f.label :Mot_de_passe %><br />
                    <div class="input-group input-groupe--style-1">
                      <%= f.password_field :password, autofocus: true, autocomplete: "current_password", class: "form-control form-control-lg" %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-md-6">
                  <%= render "devise/shared/forgott_pwd_link" %>
                  
                </div>
                <div class="col-md-6 text-right">
                  <%= f.submit "Se connecter", class:"btn btn-styled btn-base-1 px-4" %>
                </div>
              </div>
              
              <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :Se_souvenir_de_moi %>
              </div>
              <% end %>
              
              <% end %>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>   
</section>
