<div class="navbar-floating">
  <div class="container">
    <div class="header">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg  navbar-opaque navbar- bg-light ">
        <div class="container navbar-container">
          <!-- Brand/Logo -->
          <%= link_to root_path do %>
          <%= image_tag asset_path("air-quality-logo/logo-1-a.svg"), class:"mb-3", height:"40px", alt:"Open Air" %>
          <% end %>

          
          <!-- HAMBURGER MENU (WHEN COLLAPSED <-> SMALL SCREEN) -->
          <div class="d-inline-block">
            <!-- Navbar toggler  -->
            <button class="navbar-toggler hamburger hamburger-js hamburger--spring" type="button" data-toggle="collapse" data-target="#navbar_main" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
            </button>
          </div>
          <div class="collapse navbar-collapse align-items-center justify-content-around" id="navbar_main">
            <!-- Navbar links -->
            <!-- RIGHT ALIGNED NAVBAR -->
            <ul class="navbar-nav ml-lg-auto">
								<li class="nav-item">
							<% if (current_user && current_user.is_admin) %>
									<%= link_to "Espace rédaction", rails_admin.dashboard_path, class: "nav-link dropdown-item" %>
							<% end %>
								</li>
								<li class="nav-item">
              <% if (user_signed_in?) %>
                  <%= link_to "Ma librairie", user_dataset_collection_path(current_user.id), class: "nav-link dropdown-item" %>
              <% end %>
                </li>
              <li class="nav-item">
                <% unless user_signed_in? %>
                <% unless (controller_name == "devise") %>
                <!-- Sign in button shall not appear when user is  in  the sign in page -->
                <%= link_to "S'inscrire", new_user_registration_path(anchor: "top"), class: "nav-link dropdown-item"  %>
                <% end %>
                <% else %>
								<% if (controller_name == "dataset_collections") %>
                <%= link_to "Editer mon profil", edit_user_registration_path(anchor: "top"), class: "nav-link dropdown-item" %>
                <% end %>
								<% end %>
              </li>
            </ul>
          </div>
          <!-- BUTTON CALL TO ACTION LEFT, OUTSIDE HAMBURGER MENU -->
          <div class="pl-4 d-none d-lg-inline-block">
            <% unless user_signed_in? %>
            <% unless (controller_name == "devise") %>
            <!-- Sign in button shall not appear when user is  in  the sign in page -->
            <%= link_to "Se connecter", new_user_session_path(anchor: "top"), class: "btn btn-styled btn-base-1 btn-round text-white" %>
            <% end %>
            <% else %>
            <%= button_to "Se déconnecter", destroy_user_session_path, :method => :delete, class: "btn btn-styled btn-base-1 btn-round text-white" %>
            <% end %>
          </div>
        </div>
        
      </nav>
    </div>
  </div>
</div>

