<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Open Air est un portail web sur les données et indicateurs de la qualité de l'air en Région Sud. Open Air is a web portal about air quality in the Sud region in France. It features in-depth comprehensive articles based on open database.">
    <meta name="keywords" content="Sud Région, France, Marseille, Aix, Air quality, open data, Lab in the AIR, Atmosud">
    <meta name="author" content="THP-SUD">
    <title>Open Air</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <!-- Favicon -->
    <%= favicon_link_tag 'favicon.png' %>
  </head>
  <body>
    <!-- MAIN WRAPPER -->
    <div class="body-wrap">
      <div id="st-container" class="st-container">
        <div class="st-pusher">
          <div class="st-content">
            <div class="st-content-inner">
              <%= render "layouts/navbar" %>
              <!-- Header -->  
              <%= render "topics/topic-index-banner" %>
              <div class="container">
                <%= render 'layouts/messages' %>
              </div>
              <section class="slice sct-color-1">
                <div class="container">
                  <%= yield %>
                </div>
              </section>
              <%= render "layouts/footer" %>
            </div>
          </div>
        </div><!-- END: st-pusher -->
      </div><!-- END: st-container -->
    </div><!-- END: body-wrap -->
    <a href="#" class="back-to-top btn-back-to-top"></a>
  </body>
</html>
